@model Fina.Web.Models.ExpenseDeleteVm

@{
    ViewData["Title"] = "Delete";
}

<br />

<h2 class="text-center overview-title">Expenses</h2>

<br />

<div class="container">
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Delete Expense</h4>
        <hr />
        <table class="table-expand">
            <thead>
                <tr class="table-expand-row">
                    <th width="400">Name</th>
                    <th width="200">Type</th>
                    <th>Life Needed</th>
                    <th>Variable</th>
                    <th class="text-right" width="150">Cost</th>
                </tr>
            </thead>
            <tbody>
                <tr class="table-expand-row" data-open-details>
                    <td>@Model.Name</td>
                    <td>@Model.Type</td>
                    <td>@Model.Life.ToString()</td>
                    <td>@Model.Variable.ToString()</td>
                    <td class="text-right">€@Model.Cost</td>
                </tr>
            </tbody>
        </table>

        <br />

        <form asp-action="Delete" class="text-center">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" class="button" />
            <a asp-action="Index" class="button" >Back to List</a>
        </form>
    </div>
</div>

