@model Fina.Web.Models.ExpensesOverviewVm;

@{
    ViewData["Title"] = "Index";
}

<br />

<h2 class="text-center overview-title">Expenses</h2>

<br />

<div class="container">
    <ul class="stats-list">
        <li class="stats-list-positive">
            135 <span class="stats-list-label">Normal</span>
        </li>
        <li>
            17,678 <span class="stats-list-label">Total</span>
        </li>
        <li class="stats-list-negative">
            2,390 <span class="stats-list-label">Not Needed</span>
        </li>
    </ul>

    <table class="table-expand">
        <thead>
            <tr class="table-expand-row">
                <th width="200">Name</th>
                <th>Type</th>
                <th class="text-right" width="150">Monthly Cost</th>
                <th width="150"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var expense in Model.Expenses)
            {
            <tr class="table-expand-row" data-open-details>
                <td>@expense.Name</td>
                <td>@expense.Type</td>
                <td class="text-right">€@expense.Cost</td>
                <td>More <span class="expand-icon"></span></td>
            </tr>

            <tr class="table-expand-row-content">
                <td colspan="8" class="table-expand-row-nested">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque unde quaerat reprehenderit ipsa ipsam, adipisci facere repellendus impedit at, quisquam dicta optio veniam quia nesciunt, inventore quod in neque magni?</p>
                </td>
            </tr>
            }
        </tbody>
    </table>

</div>


