@model Fina.Web.Models.SecurityAddVm

@{

    ViewData["Title"] = "Add Security";

}

<br />
<h2 class="text-center overview-title">Add Security</h2>

<div class="simple-center-block">
    <br />
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <form asp-action="Add">
                <div class="form-icons">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="input-group">
                        <label asp-for="Type" class="input-group-label"><i class="fa fa-sitemap"></i></label>
                        <select asp-for="Type" class="input-group-field">
                            @foreach (string type in Model.securityTypes)
                            {
                                <option value="@type">@type</option>
                            }
                        </select>
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>

                    <div class="row">
                        <div class="input-group col-md-6">
                            <label asp-for="Monthly" class="input-group-label"><i class="fa fa-coins"></i></label>
                            <input asp-for="Monthly" class="input-group-field" placeholder="Monthly" />
                            <span asp-validation-for="Monthly" class="text-danger"></span>
                        </div>
                        <div class="input-group col-md-6">
                            <input asp-for="StartDate" type="text" value="6/01/2019" />
                            <span asp-validation-for="StartDate" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="input-group">
                        <label asp-for="Description" class="input-group-label"><i class="fa fa-user"></i></label>
                        <input asp-for="Description" class="input-group-field" placeholder="Description" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="input-group">
                        <label asp-for="AccountNumber" class="input-group-label"><i class="fa fa-university"></i></label>
                        <input asp-for="AccountNumber" class="input-group-field" placeholder="Account Number" />
                        <span asp-validation-for="AccountNumber" class="text-danger"></span>
                    </div>


                    <br />

                    <div class="form-group">
                        <input type="submit" value="Create" class="button expanded" />
                    </div>
                </div>
            </form>
        </div>
    </div>

    <br />

    <div class="text-center">
        <a asp-action="Index">Back to List</a>
    </div>
</div>


