@model Fina.Lib.Database.users

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>users</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="sign-in-form">
                <h4 class="text-center">Sign Up</h4>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="sign-in-form-field" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FirstName" class="control-label"></label>
                    <input asp-for="FirstName"  class="sign-in-form-field" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Country" class="control-label"></label>
                    <select asp-for="Country"  class="sign-in-form-field" >

                    </select>
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password"  class="sign-in-form-field" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Age" class="control-label"></label>
                    <input asp-for="Age"  class="sign-in-form-field" />
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Currency" class="control-label"></label>
                    <select asp-for="Currency" class="sign-in-form-field" >
                    
                    </select>
                    <span asp-validation-for="Currency" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="sign-in-form-button" />
                </div>
            </div>
        </form>



    </div>
</div>




<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
