<a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
</a>
<nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a class="js-scroll-trigger" asp-controller="Home" asp-action="Index">Fina</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" asp-controller="Home" asp-action="Services">Services</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" asp-controller="User" asp-action="Login">Log In</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" asp-controller="User" asp-action="SignUp">Sign Up</a>
        </li>

    </ul>
    <ul class="sidebar-nav" id="bottom">
        <li class="sidebar-brand">
            <a class="js-scroll-trigger" asp-controller="User" asp-action="Index">User</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" asp-controller="Expense" asp-action="Index">Expenses</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" asp-controller="Income" asp-action="Index">Incomes</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" asp-controller="Savings" asp-action="Login">Savings</a>
        </li>
        <li class="sidebar-nav-item">
            <a class="js-scroll-trigger" asp-controller="Security" asp-action="SignUp">Security</a>
        </li>
    </ul>
</nav>
